# Expo
node_modules/
.expo/
dist/
web-build/
.tamagui/

# Native
ios/Pods/
ios/build/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/Pods/
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/local.properties

# Metro
.metro-health-check*

# IDE
.vscode/
.idea/
*.iml

# Env
.env
.env.local
.env.*.local

# macOS
.DS_Store

# EAS
.eas/

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Generated
.expo-shared/
expo-env.d.ts
